<div class="box footer-box">
    <section id="footer-logo">
        <img src="../img/logo.webp" alt="Let's be fit? logo" class="logo">
    </section>
    <nav id="footer-nav">
        <a href="index.html">Home</a>
        <a href="recipes.html">Recipes</a>
        <a href="training.html">Training</a>
        <a href="about.html">About</a>
    </nav>
    <section id="footer-social">
        <a href="https://www.facebook.com/" target="_blank"><img src="../img/facebook-logo.svg" alt="Facebook"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="../img/instagram-logo.svg" alt="Instagram"></a>
        <a href="https://www.twitter.com/" target="_blank"><img src="../img/x-logo.svg" alt="Twitter"></a>
        <a href="https://www.youtube.com/" target="_blank"><img src="../img/youtube-logo.svg" alt="Youtube"></a>
    </section>
    <section id="footer-credits">
        <p>©<span id="currentYear"></span> Let's be fit? | All rights reserved | Terms of use</p>
    </section>
</div>